
@{
    ViewBag.Title = "UserProfile";
}
 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<form>

    <label for="Name">Name:</label><br />
    <input type="text" id="Name" /><br /><br />

    <label for="Email">Email:</label><br />
    <input type="email" id="Email" /><br /><br />

    <label for="Password">Password:</label><br />
    <input type="password" id="Password" /><br /><br />

    <label for="Address">Address:</label><br />
    <textarea id="Address"></textarea><br /><br />

    <label for="City">City:</label><br />
    <input type="text" id="City" /><br /><br />

    <label for="Region">Region:</label><br />
    <input type="text" id="Region" /><br /><br />

    <label for="PostalCode">Postal Code:</label><br />
    <input type="text" id="PostalCode" /><br /><br />
    <button type="button" onclick="insertuser()">Submit</button>

</form>

<table id="listonLoad" border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>Postal Code</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <tbody />
</table>

@* Update model *@

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="hiddenid" />

                <label for="Name">Name:</label>
                <input type="text" id="name" /><br>

                <label for="Email">Email:</label>
                <input type="email" id="email" /><br />

                <label for="Password">Password:</label>
                <input type="password" id="password" /><br />

                <label for="Address">Address:</label>
                <textarea id="address"></textarea><br />

                <label for="City">City:</label>
                <input type="text" id="city" /><br />

                <label for="Region">Region:</label>
                <input type="text" id="region" /><br />

                <label for="PostalCode">Postal Code:</label>
                <input type="text" id="postalCode" /><br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="updateUsers()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        readuserData();
    });

    function insertuser() {
        var name = $("#Name").val();
        var email = $("#Email").val();
        var password = $("#Password").val();
        var address = $("#Address").val();
        var city = $("#City").val();
        var region = $("#Region").val();
        var postal = $("#PostalCode").val();

        $.ajax({

            type: "POST",
            url: '/User/insertUser',
            data: JSON.stringify({
                Name: name,
                Email: email,
                Password: password,
                Address: address,
                City: city,
                Region: region,
                PostalCode: postal
            }),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error");
            }

        });

    }

    function readuserData() {
        $.ajax({
            type: "GET",
            url: '/User/ReadUser',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    $("#listonLoad  tbody").empty();
                    $.each(response.data, function (index, item) {
                        var row = "<tr>" +

                            "<td>" + item.Name + "</td>" +
                            "<td>" + item.Email + "</td>" +
                            "<td>" + item.Password + "</td>" +
                            "<td>" + item.Address + "</td>" +
                            "<td>" + item.City + "</td>" +
                            "<td>" + item.Region + "</td>" +
                            "<td>" + item.PostalCode + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='SetupdateUser(\"" + item.Id + "\",\"" + item.Name + "\",\"" + item.Email + "\",\
                            \"" + item.Password + "\",\"" + item.Address + "\",\"" + item.City + "\",\"" + item.Region + "\",\
                             \""+ item.PostalCode + "\")'>  Edit  </button>" +
                            "<button type='button' onclick='deleteUser(\"" + item.Id + "\")'>  Delete  </button>" +
                            "</td>" +

                            "</tr> ";
                        $("#listonLoad  tbody").append(row);
                    });
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Server error");
            }

        });
    }

    function SetupdateUser(Id, Name, Email, Password, Address, City, Region, PostalCode) {
        $("#updateModal").modal('show');
        $("#hiddenid").val(Id);
        $("#name").val(Name);
        $("#email").val(Email);
        $("#address").val(Address);
        $("#city").val(City);
        $("#region").val(Region);
        $("#postalCode").val(PostalCode);
        $("#password").val(Password);

    }
    function updateUsers() {
        $.ajax({
            type: "POST",
            url: '/User/updateUserData',
            data: JSON.stringify({
                Id: $("#hiddenid").val(),
                Name: $("#name").val(),
                Email: $("#email").val(),
                Password: $("#password").val(),
                Address: $("#address").val(),
                City: $("#city").val(),
                Region: $("#region").val(),
                PostalCode: $("#postalCode").val()
            }),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    $("#updateModal").modal('hide');
                    readuserData();

                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error");
            }

        });
    }

    function deleteUser(Id) {
        $.ajax({
            type: "GET",
            url: '/User/deleteUser',
            data: { Id: Id },
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    readuserData();
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }


</script>







