
@{
    ViewBag.Title = "imageUpload";
}

<form enctype="multipart/form-data">
    <label>UserName</label><input type="text" placeholder="User Name" id="txtuserName" /><br><br>
    <label>UserAge</label><input type="text" placeholder="User Age" id="txtuserAge" /><br><br>
    <label>UserGender</label><input type="text" placeholder="User Gender" id="txtuserGender" /><br><br>
    <label>ImageName</label><input type="text" placeholder="Image Name" id="txtimageName" /><br><br>
    <label>ChooseImage</label><input type="file" id="txtselectImage" /><br><br>
    <button type="button" onclick="insertuserData()">Submit</button>
</form>

<table id="listonLoad" border="1">
    <thead>
        <tr>
            <th>UserName</th>
            <th>UserAge</th>
            <th>UserGender</th>
            <th>ImageName</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        showUserData();
    });

    function insertuserData() {

        var formdata = new FormData();
        formdata.append("username", $("#txtuserName").val());
        formdata.append("userage", $("#txtuserAge").val());
        formdata.append("usergender", $("#txtuserGender").val());
        formdata.append("imagename", $("#txtimageName").val());
        formdata.append("imagefile", $("#txtselectImage")[0].files[0]);

        $.ajax({
            type: "POST",
            url: '/Home/InsertUserRecordWithImage',
            data: formdata,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    resetuserData();
                    showUserData();
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Server error");
            }
        });
    }
    function resetuserData() {
        $("#txtuserName").val('');
        $("#txtuserAge").val('');
        $("#txtuserGender").val('');
        $("#txtimageName").val('');
        $("#txtselectImage").val('');
    }

    function showUserData() {
        $.ajax({
            type: "GET",
            url: '/Home/showUserData',
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                if (response.success) {
                    $("#listonLoad tbody").empty();
                    $.each(response.data, function (index, value) {
                        var row = "<tr>"
                            + "<td>" + value.username + "</td>"
                            + "<td>" + value.userage + "</td>"
                            + "<td>" + value.usergender + "</td>"
                            + "<td>" + value.imagename + "</td>"
                            + "<td><img src='" + value.saveImagePath + "' width='50' height='50'/></td>"
                            + "</tr>";
                        $("#listonLoad tbody").append(row);
                    });

                }
            }
        });
    }

</script>